table, th, td {
    border: 1px solid;
    border-color: black;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

th + th { 
    padding: 10px;
}

thead > tr th{
    background-color: red;
    color: white;
}

thead {
    color: black;
    height: 100px;
}

footer {position: absolute; bottom: 10px; right: 10px;}

table {
    justify-content: center;
}

.left {
    text-align: left;
        padding: 7px;
}

.center {text-align: center;}

caption {
    font-size: 32px;
    padding-bottom: 8px;
}