/* Body */
body {
    background-image: url(pics/rowing1601.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(228, 253, 0);
}

audio {
    width: 300px;
    height: 30px;
}

video {
    width: 480px;
    height: 270px;
}

/* footer */
footer {
    text-align: right;
    color: black;
    margin-top: 30px;
}
