/* Body */
body {
    background-image: url(pics/edm1600.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(250, 137, 246);
}

audio {
    width: 300px;
    height: 30px;
}

video {
    width: 480px;
    height: 270px;
    margin-top: 20px;
}

/*Credits*/
.credits{margin-top: 100px;}
.credits a {
    text-decoration: underline;
    color: yellow;
}

/* footer */
footer {
    text-align: right;
    color: whitesmoke;
}
