/* Preventing the browser from using its own rules - 'zeroing' the styles */
* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
    transition: all .2s ease-in-out;
  }

/* Multi-purpose container - centered div */
.container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
  }
  
/*
    CSS vendor prefixes, also sometimes known as or CSS browser prefixes, are a
    way for browser makers to add support for new CSS features before those
    features are fully supported in all browsers. This may be done during a sort
    of testing and experimentation period where the browser manufacturer is
    determining exactly how these new CSS features will be implemented. These
    prefixes became very popular with the rise of CSS3 a few years ago
  */
h1, h2, div, p, a, li {
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
  }
  

/* footer */
footer {
  text-align: right;
  margin-top: 25px;
  position: fixed;
  width: 98.2%;
  bottom: 0;
  vertical-align: baseline ;
}