@*@model M10_W1_Assignment1_MockDB.Models.Student*@
@model M10_W1_Assignment1_MockDB.ModelsDto.StudentDto

@{
    ViewData["Title"] = "Edit";
}

<h1 onload="getStudents()">Edit</h1>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        id = localStorage.getItem("studentID");
        firstName = localStorage.getItem("studentFname");
        lastName = localStorage.getItem("studentLname");
        email = localStorage.getItem("studentEmail");
        phoneNum = localStorage.getItem("studentPhoneNum");
        course = localStorage.getItem("studentCourse")

        //using $ sign to access jQuery library

        $("#stuID").val(id);
        $("#stuFirstName").val(firstName);
        $("#stuLastName").val(lastName);
        $("#stuEmail").val(email);
        $("#stuPhoneNum").val(phoneNum);
        $("#stuCourse").val(course);
        $("#stuTitle").append(lastName + ", " + firstName);
        $("#stuIDs").append(id);
        @*$("#exampleModal").modal('show');*@
    });


</script>
<h4 id="stuTitle"></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="stuIDs">
                @*<label asp-for="stuID" class="control-label" onclick="getStudents()"></label>
                <input asp-for="stuID" class="form-control" id="stuID" readonly />
                <span asp-validation-for="stuID" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" id="stuFirstName"/>
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label" -></label>
                <input asp-for="lastName" class="form-control" id="stuLastName" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" id="stuEmail"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNum" class="control-label"></label>
                <input asp-for="phoneNum" class="form-control" id="stuPhoneNum" />
                <span asp-validation-for="phoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="courseID" class="control-label"></label>
                @*<select asp-items="ViewBag.Courses" asp-for="courseID" name="Course_Name"></select>*@

                <input asp-for="courseID" class="form-control" type="number" id="stuCourse" />
                    <span asp-validation-for="courseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" formmethod="post" />
            </div>
        </form>
    </div>
</div>

@*Use modal as save confirmation -- later update*@
@*<div class="modal fade scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


